body{
    text-align:center;
    font-family:'Arial';
    background-image: url(https://i.pinimg.com/1200x/3d/1b/89/3d1b890fdda43a6fd72d14fbbe5e364f.jpg);
}
img{
    width:550px;
    height: 350px;
}
h2{
    text-align:left;
    font:size 35px;
}
h3{
    text-align:left;
    font:size 30px;
}
h1{
    font: size 40px;
}
