body{
    text-align:center;
    font-family: 'Arial';
    background-image: url(https://wallpapers.com/images/hd/light-green-background-jwbiyeyp0so03w7q.jpg);
}
img{
    width:550px;
    height: 350px;
}
h2{
    text-align:left;
}
h3{
    text-align:left;
}
h1{
    font: size 35px;
}